In [4]:
#get data for the 2023-2024 season for all active players - pts, assists, rebounds, etc.

In [5]:
import numpy as np
import pandas as pd
from nba_api.stats.static import players 
from nba_api.stats.static import teams
from nba_api.stats.endpoints import playergamelog
from nba_api.stats.library.parameters import SeasonAll
from nba_api.stats.library.parameters import ActivePlayers

In [22]:
player_dict = players.get_players()
team_dict = teams.get_teams()

In [ ]:
player_data_frame = pd.DataFrame(player_dict) #converting the players dictionary to a dataframe
player_data_frame.head() #showing the first 5 players in the players dataframe

In [8]:
active_players = player_data_frame[player_data_frame['is_active'] == True] #filtering out the active players
active_players.head() #showing the first 5 active players

         id         full_name first_name last_name  is_active
10  1630173  Precious Achiuwa   Precious   Achiuwa       True
22   203500      Steven Adams     Steven     Adams       True
24  1628389       Bam Adebayo        Bam   Adebayo       True
29  1630534      Ochai Agbaji      Ochai    Agbaji       True
36  1631231      James Akinjo      James    Akinjo       True

In [ ]:
teams_data_frame = pd.DataFrame(team_dict) #converting the teams dictionary to a dataframe
teams_data_frame = teams_data_frame.rename(columns = {'nickname':'team'}).drop(columns = ['id', 'abbreviation', 'state', 'city', 'year_founded', 'full_name']) 
teams_data_frame.head(10) #showing the first 10 teams in the teams dataframe

In [10]:
active_players = [player for player in player_dict if player['is_active'] == True]
lebron = [player for player in player_dict if player['full_name'] == 'LeBron James'][0]
lakers = [team for team in team_dict if team['full_name'] == 'Los Angeles Lakers']

In [11]:
lebron

{'id': 2544,
 'full_name': 'LeBron James',
 'first_name': 'LeBron',
 'last_name': 'James',
 'is_active': True}

In [12]:
#getting lebrons stats 
gamelog_lebron = playergamelog.PlayerGameLog(player_id='2544', season='2023')

In [28]:
gamelog_lebron_df = gamelog_lebron.get_data_frames()
gamelog_lebron_df[0].head()

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22023,2544,0022301195,"APR 14, 2024",LAL @ NOP,W,38,11,20,0.550,...,9,11,17,5,1,4,0,28,19,1
1,22023,2544,0022301177,"APR 12, 2024",LAL @ MEM,W,41,13,20,0.650,...,7,9,5,2,0,8,1,37,-3,1
2,22023,2544,0022301155,"APR 09, 2024",LAL vs. GSW,L,36,14,22,0.636,...,6,7,11,2,0,4,0,33,-6,1
3,22023,2544,0022301127,"APR 06, 2024",LAL vs. CLE,W,36,10,18,0.556,...,5,5,12,1,1,5,1,24,10,1
4,22023,2544,0022301103,"APR 03, 2024",LAL @ WAS,W,36,9,18,0.500,...,5,7,9,3,0,4,2,25,9,1