In [249]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
from textblob import TextBlob
from nba_api.stats.endpoints import leaguedashteamstats
import re

In [250]:
# List of seasons to loop through
seasons = [f"{year}-{str(year+1)[-2:]}" for year in range(2015, 2025)]

# Dictionary to hold data for each season
season_data_frames = {}

# Loop through each season and fetch data
for season in seasons:
    print(f"Fetching data for season: {season}")
    df = leaguedashteamstats.LeagueDashTeamStats(
        season=season,
        per_mode_detailed='PerGame'
    ).get_data_frames()[0]
    season_data_frames[season] = df

df_2015_2016 = season_data_frames['2015-16']
sorted_pts = df_2015_2016.sort_values('REB_RANK')
sorted_pts.tail()

Fetching data for season: 2015-16
Fetching data for season: 2016-17
Fetching data for season: 2017-18
Fetching data for season: 2018-19
Fetching data for season: 2019-20
Fetching data for season: 2020-21
Fetching data for season: 2021-22
Fetching data for season: 2022-23
Fetching data for season: 2023-24
Fetching data for season: 2024-25

,TEAM_ID,TEAM_NAME,GP,W,L,W_PCT,MIN,FGM,FGA,FG_PCT,...,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK
29,1610612764,Washington Wizards,82,41,41,0.500,48.2,39.5,85.8,0.460,...,26,5,16,8,26,6,21,16,9,17
16,1610612749,Milwaukee Bucks,82,33,49,0.402,48.4,38.4,82.2,0.467,...,27,9,25,13,7,26,17,21,25,26
14,1610612763,Memphis Grizzlies,82,42,40,0.512,48.4,36.8,83.6,0.440,...,28,25,6,6,21,29,27,9,24,20
17,1610612750,Minnesota Timberwolves,82,29,53,0.354,48.5,37.7,81.3,0.464,...,29,8,23,14,19,17,18,7,15,24
22,1610612755,Philadelphia 76ers,82,10,72,0.122,48.3,36.2,84.0,0.431,...,30,20,29,10,3,28,25,25,29,30

In [251]:
sorted_pts.columns

Index(['TEAM_ID', 'TEAM_NAME', 'GP', 'W', 'L', 'W_PCT', 'MIN', 'FGM', 'FGA',
       'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB',
       'DREB', 'REB', 'AST', 'TOV', 'STL', 'BLK', 'BLKA', 'PF', 'PFD', 'PTS',
       'PLUS_MINUS', 'GP_RANK', 'W_RANK', 'L_RANK', 'W_PCT_RANK', 'MIN_RANK',
       'FGM_RANK', 'FGA_RANK', 'FG_PCT_RANK', 'FG3M_RANK', 'FG3A_RANK',
       'FG3_PCT_RANK', 'FTM_RANK', 'FTA_RANK', 'FT_PCT_RANK', 'OREB_RANK',
       'DREB_RANK', 'REB_RANK', 'AST_RANK', 'TOV_RANK', 'STL_RANK', 'BLK_RANK',
       'BLKA_RANK', 'PF_RANK', 'PFD_RANK', 'PTS_RANK', 'PLUS_MINUS_RANK'],
      dtype='object')

In [252]:
team_name_to_abbr = {
    "Atlanta Hawks": "ATL",
    "Boston Celtics": "BOS",
    "Brooklyn Nets": "BKN",
    "Charlotte Hornets": "CHO",
    "Chicago Bulls": "CHI",
    "Cleveland Cavaliers": "CLE",
    "Dallas Mavericks": "DAL",
    "Denver Nuggets": "DEN",
    "Detroit Pistons": "DET",
    "Golden State Warriors": "GSW",
    "Houston Rockets": "HOU",
    "Indiana Pacers": "IND",
    "LA Clippers": "LAC",
    "Los Angeles Lakers": "LAL",
    "Memphis Grizzlies": "MEM",
    "Miami Heat": "MIA",
    "Milwaukee Bucks": "MIL",
    "Minnesota Timberwolves": "MIN",
    "New Orleans Pelicans": "NOP",
    "New York Knicks": "NYK",
    "Oklahoma City Thunder": "OKC",
    "Orlando Magic": "ORL",
    "Philadelphia 76ers": "PHI",
    "Phoenix Suns": "PHX",
    "Portland Trail Blazers": "POR",
    "Sacramento Kings": "SAC",
    "San Antonio Spurs": "SAS",
    "Toronto Raptors": "TOR",
    "Utah Jazz": "UTA",
    "Washington Wizards": "WAS"
}

for season, df in season_data_frames.items():
    if 'TEAM_NAME' not in df.columns:
        print(f"'TEAM_NAME' column missing in DataFrame for season: {season}")
    else:
        # Map team names to abbreviations
        df['TEAM_ABBREVIATION'] = df['TEAM_NAME'].map(team_name_to_abbr)
        df = df.rename(columns = {"TEAM_ABBREVIATION": "Team"}).drop(columns = ["TEAM_ID", "MIN", "GP", "W", "L"])
        
        # Update the dictionary with the modified DataFrame
        season_data_frames[season] = df

# Verify the mapping
df_2017_2018 = season_data_frames['2017-18']
df_2017_2018.head()

,TEAM_NAME,W_PCT,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,...,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,Team
0,Atlanta Hawks,0.293,38.2,85.5,0.446,11.2,31.0,0.360,15.8,20.2,...,8,27,12,23,28,14,14,25,26,ATL
1,Boston Celtics,0.671,38.3,85.1,0.450,11.5,30.4,0.377,16.0,20.7,...,20,15,23,18,6,17,22,20,6,BOS
2,Brooklyn Nets,0.341,38.2,86.8,0.441,12.7,35.7,0.356,17.4,22.6,...,9,25,30,16,27,23,19,14,24,BKN
3,Charlotte Hornets,0.439,39.0,86.7,0.450,10.0,27.2,0.369,20.2,27.0,...,24,3,28,18,20,2,1,10,17,CHO
4,Chicago Bulls,0.329,38.7,88.8,0.435,11.0,31.1,0.355,14.6,19.2,...,10,13,18,30,24,9,29,26,29,CHI

In [253]:
playoff_results = pd.read_csv('data/playoff_results.csv') 
playoff_results.tail()

,Yr,Lg,Series,Unnamed: 3,Unnamed: 4,Team,W,Unnamed: 7,Team.1,W.1,Unnamed: 10,Favorite,Underdog
130,2016,NBA,Western Conf Semifinals,May 1 - May 11 2016,NaN,Golden State Warriors (1),4,NaN,Portland Trail Blazers (5),1,NaN,GSW (-1600),POR (+1050)
131,2016,NBA,Western Conf Semifinals,Apr 30 - May 12 2016,NaN,Oklahoma City Thunder (3),4,NaN,San Antonio Spurs (2),2,NaN,SAS (-270),OKC (+230)
132,2016,NBA,Eastern Conf Finals,May 17 - May 27 2016,NaN,Cleveland Cavaliers (1),4,NaN,Toronto Raptors (2),2,NaN,CLE (-1350),TOR (+885)
133,2016,NBA,Western Conf Finals,May 16 - May 30 2016,NaN,Golden State Warriors (1),4,NaN,Oklahoma City Thunder (3),3,NaN,GSW (-430),OKC (+345)
134,2016,NBA,Finals,Jun 2 - Jun 19 2016,NaN,Cleveland Cavaliers (1),4,NaN,Golden State Warriors (1),3,NaN,GSW (-220),CLE (+180)

In [254]:
relabeled_dict = {
    "Team": "Team1",
    "Team.1": "Team2",
    "W": "Team1wins",
    "W.1": "Team2wins"
}

playoff_results = playoff_results.rename(columns=relabeled_dict)
playoff_results.head()

,Yr,Lg,Series,Unnamed: 3,Unnamed: 4,Team1,Team1wins,Unnamed: 7,Team2,Team2wins,Unnamed: 10,Favorite,Underdog
0,2024,NBA,Eastern Conf First Round,Apr 21 - May 1 2024,NaN,Boston Celtics (1),4,NaN,Miami Heat (8),1,NaN,BOS (-10000),MIA (+2000)
1,2024,NBA,Eastern Conf First Round,Apr 20 - May 5 2024,NaN,Cleveland Cavaliers (4),4,NaN,Orlando Magic (5),3,NaN,CLE (-210),ORL (+180)
2,2024,NBA,Eastern Conf First Round,Apr 21 - May 2 2024,NaN,Indiana Pacers (6),4,NaN,Milwaukee Bucks (3),2,NaN,IND (-125),MIL (+105)
3,2024,NBA,Eastern Conf First Round,Apr 20 - May 2 2024,NaN,New York Knicks (2),4,NaN,Philadelphia 76ers (7),2,NaN,NYK (-140),PHI (+120)
4,2024,NBA,Western Conf First Round,Apr 21 - Apr 29 2024,NaN,Oklahoma City Thunder (1),4,NaN,New Orleans Pelicans (8),0,NaN,OKC (-700),NOP (+500)

In [255]:
def clean_and_extract_team_id(team_name):
    # Remove seed numbers and parentheses
    cleaned_name = re.sub(r'\s\(\d+\)', '', team_name)
    # Extract first three letters and convert to uppercase
    team_id = cleaned_name[:3].upper()
    return team_id



playoff_results['Team1'] = playoff_results['Team1'].apply(clean_and_extract_team_id)
playoff_results['Team2'] = playoff_results['Team2'].apply(clean_and_extract_team_id) 
playoff_results.tail(15)

,Yr,Lg,Series,Unnamed: 3,Unnamed: 4,Team1,Team1wins,Unnamed: 7,Team2,Team2wins,Unnamed: 10,Favorite,Underdog
120,2016,NBA,Eastern Conf First Round,Apr 17 - Apr 24 2016,NaN,CLE,4,NaN,DET,0,NaN,CLE (-1700),DET (+1100)
121,2016,NBA,Eastern Conf First Round,Apr 16 - May 1 2016,NaN,TOR,4,NaN,IND,3,NaN,TOR (-400),IND (+325)
122,2016,NBA,Eastern Conf First Round,Apr 17 - May 1 2016,NaN,MIA,4,NaN,CHA,3,NaN,MIA (-170),CHO (+150)
123,2016,NBA,Eastern Conf First Round,Apr 16 - Apr 28 2016,NaN,ATL,4,NaN,BOS,2,NaN,ATL (-165),BOS (+145)
124,2016,NBA,Western Conf First Round,Apr 16 - Apr 27 2016,NaN,GOL,4,NaN,HOU,1,NaN,GSW (-10000),HOU (+4000)
125,2016,NBA,Western Conf First Round,Apr 17 - Apr 24 2016,NaN,SAN,4,NaN,MEM,0,NaN,SAS (-17000),MEM (+6625)
126,2016,NBA,Western Conf First Round,Apr 16 - Apr 25 2016,NaN,OKL,4,NaN,DAL,1,NaN,OKC (-3500),DAL (+1750)
127,2016,NBA,Western Conf First Round,Apr 17 - Apr 29 2016,NaN,POR,4,NaN,LOS,2,NaN,LAC (-525),POR (+415)
128,2016,NBA,Eastern Conf Semifinals,May 2 - May 8 2016,NaN,CLE,4,NaN,ATL,0,NaN,CLE (-500),ATL (+400)
129,2016,NBA,Eastern Conf Semifinals,May 3 - May 15 2016,NaN,TOR,4,NaN,MIA,3,NaN,TOR (-145),MIA (+125)
130,2016,NBA,Western Conf Semifinals,May 1 - May 11 2016,NaN,GOL,4,NaN,POR,1,NaN,GSW (-1600),POR (+1050)
131,2016,NBA,Western Conf Semifinals,Apr 30 - May 12 2016,NaN,OKL,4,NaN,SAN,2,NaN,SAS (-270),OKC (+230)
132,2016,NBA,Eastern Conf Finals,May 17 - May 27 2016,NaN,CLE,4,NaN,TOR,2,NaN,CLE (-1350),TOR (+885)
133,2016,NBA,Western Conf Finals,May 16 - May 30 2016,NaN,GOL,4,NaN,OKL,3,NaN,GSW (-430),OKC (+345)
134,2016,NBA,Finals,Jun 2 - Jun 19 2016,NaN,CLE,4,NaN,GOL,3,NaN,GSW (-220),CLE (+180)

In [256]:
# Define the mapping of teams
team_replacements = {
    'LOS': 'LAC',
    'CHA': 'CHO',
    'GOL': 'GSW',
    'BRO': 'BKN',
    'OKL': 'OKC',
    'NEW': 'NYK',
    'PHO': 'PHX'
}

# Replace values in 'Team1' and 'Team2' columns
playoff_results['Team1'] = playoff_results['Team1'].replace(team_replacements)
playoff_results['Team2'] = playoff_results['Team2'].replace(team_replacements)

# Print the unique values in 'Team1' to verify the changes
print(playoff_results['Team1'].unique())

['BOS' 'CLE' 'IND' 'NYK' 'OKC' 'DAL' 'MIN' 'DEN' 'MIA' 'PHI' 'PHX' 'GSW'
 'LAC' 'MIL' 'MEM' 'BKN' 'UTA' 'ATL' 'TOR' 'HOU' 'POR' 'WAS' 'SAN']

In [257]:
playoff_results["Year"] = playoff_results["Unnamed: 3"].str.extract(r"(\d{4})").astype(int)

# Step 2: Reshape the data to combine Team1 and Team2 information
team1_data = playoff_results[["Year", "Team1", "Team1wins"]].rename(columns={"Team1": "Team", "Team1wins": "Wins"})
team2_data = playoff_results[["Year", "Team2", "Team2wins"]].rename(columns={"Team2": "Team", "Team2wins": "Wins"})

# Combine both datasets
all_teams = pd.concat([team1_data, team2_data])

# Step 3: Group by year and team to calculate total wins
team_wins_by_year = all_teams.groupby(["Year", "Team"], as_index=False)["Wins"].sum()
team_wins_by_year.sample(20)

     Year Team  Wins
6    2016  GSW    15
33   2018  CLE    12
129  2024  IND     8
48   2019  BKN     1
108  2022  TOR     2
74   2020  ORL     1
24   2017  MEM     2
49   2019  BOS     5
71   2020  MIA    14
127  2024  DAL    13
75   2020  PHI     0
56   2019  MIL    10
58   2019  ORL     1
7    2016  HOU     1
120  2023  MIN     1
69   2020  IND     0
28   2017  SAN     8
32   2018  BOS    11
12   2016  OKC    11
11   2016  MIA     7

In [258]:
# Create an empty dictionary to store the merged data for each season
merged_season_data = {}

# Iterate over the seasons and merge playoff wins with team stats
for season in available_seasons:
    # Extract the year (e.g., "2021" from "2021-22")
    season_year = season.split('-')[0]

    # Filter playoff wins for the current season from team_wins_by_year
    playoff_wins_season = team_wins_by_year[team_wins_by_year['Year'] == int(season_year)]
    
    if not playoff_wins_season.empty:
        # Get the team stats for the current season
        df = season_data_frames[season]

        # Merge playoff wins with team stats
        df_merged = pd.merge(df, playoff_wins_season[['Team', 'Wins']], how='left', left_on='Team', right_on='Team')

        # Store the merged data in the dictionary
        merged_season_data[season] = df_merged

        # Display the merged data for the season
        print(f"Updated Merged Data for {season} season:")
        print(df_merged.head())  # Print the top rows of the merged data to verify
    else:
        print(f"No playoff win data found for season {season}")

Updated Merged Data for 2016-17 season:
           TEAM_NAME  W_PCT   FGM   FGA  FG_PCT  FG3M  FG3A  FG3_PCT   FTM  \
0      Atlanta Hawks  0.524  38.1  84.4   0.451   8.9  26.1    0.341  18.1
1     Boston Celtics  0.646  38.6  85.1   0.454  12.0  33.4    0.359  18.7
2      Brooklyn Nets  0.244  37.8  85.2   0.444  10.7  31.6    0.338  19.4
3  Charlotte Hornets  0.439  37.7  85.4   0.442  10.0  28.6    0.351  19.4
4      Chicago Bulls  0.500  38.6  87.1   0.444   7.6  22.3    0.340  18.0

    FTA  ...  TOV_RANK  STL_RANK  BLK_RANK  BLKA_RANK  PF_RANK  PFD_RANK  \
0  24.9  ...        28         7        14         22        6         3
1  23.2  ...         8        18        23         23       21        11
2  24.6  ...        29        21        18         30       25         9
3  23.8  ...         1        27        17         28        1        15
4  22.5  ...        12        15        16         12        2        25

   PTS_RANK  PLUS_MINUS_RANK  Team  Wins
0        22               19   ATL   4.0
1         7                8   BOS   2.0
2        12               29   BKN   NaN
3        16               15   CHO   3.0
4        23               14   CHI   NaN

[5 rows x 51 columns]
Updated Merged Data for 2017-18 season:
           TEAM_NAME  W_PCT   FGM   FGA  FG_PCT  FG3M  FG3A  FG3_PCT   FTM  \
0      Atlanta Hawks  0.293  38.2  85.5   0.446  11.2  31.0    0.360  15.8
1     Boston Celtics  0.671  38.3  85.1   0.450  11.5  30.4    0.377  16.0
2      Brooklyn Nets  0.341  38.2  86.8   0.441  12.7  35.7    0.356  17.4
3  Charlotte Hornets  0.439  39.0  86.7   0.450  10.0  27.2    0.369  20.2
4      Chicago Bulls  0.329  38.7  88.8   0.435  11.0  31.1    0.355  14.6

    FTA  ...  TOV_RANK  STL_RANK  BLK_RANK  BLKA_RANK  PF_RANK  PFD_RANK  \
0  20.2  ...        27        12        23         28       14        14
1  20.7  ...        15        23        18          6       17        22
2  22.6  ...        25        30        16         27       23        19
3  27.0  ...         3        28        18         20        2         1
4  19.2  ...        13        18        30         24        9        29

   PTS_RANK  PLUS_MINUS_RANK  Team  Wins
0        25               26   ATL   2.0
1        20                6   BOS   9.0
2        14               24   BKN   NaN
3        10               17   CHO   NaN
4        26               29   CHI   2.0

[5 rows x 51 columns]
Updated Merged Data for 2018-19 season:
           TEAM_NAME  W_PCT   FGM   FGA  FG_PCT  FG3M  FG3A  FG3_PCT   FTM  \
0      Atlanta Hawks  0.354  41.4  91.8   0.451  13.0  37.0    0.352  17.6
1     Boston Celtics  0.598  42.1  90.5   0.465  12.6  34.5    0.365  15.6
2      Brooklyn Nets  0.512  40.3  89.7   0.449  12.8  36.2    0.353  19.0
3  Charlotte Hornets  0.476  40.2  89.8   0.448  11.9  33.9    0.351  18.4
4      Chicago Bulls  0.268  39.8  87.9   0.453   9.1  25.9    0.351  16.2

    FTA  ...  TOV_RANK  STL_RANK  BLK_RANK  BLKA_RANK  PF_RANK  PFD_RANK  \
0  23.4  ...        30        11        14         24       29         5
1  19.5  ...         3         4        10          2       12        26
2  25.5  ...        26        27        28         22       23         7
3  23.1  ...         2        21        18         29        3        18
4  20.7  ...        19        20        26         28        9        30

   PTS_RANK  PLUS_MINUS_RANK  Team  Wins
0        12               26   ATL   NaN
1        14                6   BOS  11.0
2        15               15   BKN   NaN
3        19               18   CHO   NaN
4        27               27   CHI   NaN

[5 rows x 51 columns]
Updated Merged Data for 2019-20 season:
           TEAM_NAME  W_PCT   FGM   FGA  FG_PCT  FG3M  FG3A  FG3_PCT   FTM  \
0      Atlanta Hawks  0.299  40.6  90.6   0.449  12.0  36.1    0.333  18.5
1     Boston Celtics  0.667  41.3  89.6   0.461  12.6  34.5    0.364  18.6
2      Brooklyn Nets  0.486  40.4  90.3   0.448  13.1  38.1    0.343  17.9
3  Charlotte Hornets  0.354  37.3  85.9   0.434  12.1  34.3    0.352  16.2
4      Chicago Bulls  0.338  39.6  88.6   0.447  12.2  35.1    0.348  15.5

    FTA  ...  TOV_RANK  STL_RANK  BLK_RANK  BLKA_RANK  PF_RANK  PFD_RANK  \
0  23.4  ...        28        13        12         30       30        13
1  23.2  ...         8         6         5         25       20        15
2  24.1  ...        24        27        23         21       16        10
3  21.6  ...        14        26        25         20        3        16
4  20.5  ...        27         1        26         28       24        29

   PTS_RANK  PLUS_MINUS_RANK  Team  Wins
0        17               29   ATL   NaN
1         9                3   BOS   5.0
2        16               15   BKN   1.0
3        30               27   CHO   NaN
4        27               22   CHI   NaN

[5 rows x 51 columns]
Updated Merged Data for 2020-21 season:
           TEAM_NAME  W_PCT   FGM   FGA  FG_PCT  FG3M  FG3A  FG3_PCT   FTM  \
0      Atlanta Hawks  0.569  40.8  87.2   0.468  12.4  33.4    0.373  19.7
1     Boston Celtics  0.500  41.5  88.9   0.466  13.6  36.4    0.374  16.1
2      Brooklyn Nets  0.667  43.1  87.3   0.494  14.2  36.1    0.392  18.1
3  Charlotte Hornets  0.458  39.9  87.8   0.455  13.7  37.0    0.369  15.9
4      Chicago Bulls  0.431  42.2  88.6   0.476  12.6  34.0    0.370  13.8

    FTA  ...  TOV_RANK  STL_RANK  BLK_RANK  BLKA_RANK  PF_RANK  PFD_RANK  \
0  24.2  ...         9        24        17         17       18         9
1  20.8  ...        16        13         6         11       24        13
2  22.5  ...        13        27         7          9       13        18
3  20.9  ...        24        10        16         14        5        21
4  17.5  ...        27        28        27         18       10        30

   PTS_RANK  PLUS_MINUS_RANK  Team  Wins
0        13                9   ATL   NaN
1        16               13   BOS  10.0
2         2                7   BKN   0.0
3        23               23   CHO   NaN
4        21               20   CHI   NaN

[5 rows x 51 columns]
Updated Merged Data for 2021-22 season:
           TEAM_NAME  W_PCT   FGM   FGA  FG_PCT  FG3M  FG3A  FG3_PCT   FTM  \
0      Atlanta Hawks  0.524  41.5  88.3   0.470  12.9  34.4    0.374  18.1
1     Boston Celtics  0.622  40.7  87.4   0.466  13.2  37.1    0.356  17.0
2      Brooklyn Nets  0.537  42.0  88.4   0.475  11.5  31.7    0.361  17.5
3  Charlotte Hornets  0.524  42.8  91.4   0.468  13.9  38.2    0.365  15.8
4      Chicago Bulls  0.561  41.7  86.9   0.480  10.6  28.8    0.369  17.5

    FTA  ...  TOV_RANK  STL_RANK  BLK_RANK  BLKA_RANK  PF_RANK  PFD_RANK  \
0  22.3  ...         1        22        23         10        7         6
1  20.9  ...        13        19         2         11        5        20
2  21.7  ...        17        24         5         21       22        16
3  21.4  ...        10         5        11         12       18        18
4  21.5  ...         6        23        25         24        8        28

   PTS_RANK  PLUS_MINUS_RANK  Team  Wins
0         6               14   ATL  10.0
1        12                2   BOS   1.0
2         9               15   BKN   7.0
3         4               16   CHO   NaN
4        13               20   CHI   NaN

[5 rows x 51 columns]
Updated Merged Data for 2022-23 season:
           TEAM_NAME  W_PCT   FGM   FGA  FG_PCT  FG3M  FG3A  FG3_PCT   FTM  \
0      Atlanta Hawks  0.500  44.6  92.4   0.483  10.8  30.5    0.352  18.5
1     Boston Celtics  0.695  42.2  88.8   0.475  16.0  42.6    0.377  17.5
2      Brooklyn Nets  0.549  41.5  85.1   0.487  12.8  33.8    0.378  17.7
3  Charlotte Hornets  0.329  41.3  90.4   0.457  10.7  32.5    0.330  17.6
4      Chicago Bulls  0.488  42.5  86.8   0.490  10.4  28.9    0.361  17.6

    FTA  ...  TOV_RANK  STL_RANK  BLK_RANK  BLKA_RANK  PF_RANK  PFD_RANK  \
0  22.6  ...         3        18        12         21        6        19
1  21.6  ...         7        27         6          4        7        25
2  22.1  ...        14        16         1          3       25        28
3  23.6  ...        17         9         8         29       17        13
4  21.8  ...         8         7        19         18        8        27

   PTS_RANK  PLUS_MINUS_RANK  Team  Wins
0         3               18   ATL   1.0
1         4                1   BOS  14.0
2        20               15   BKN   0.0
3        27               27   CHO   NaN
4        22               13   CHI   1.0

[5 rows x 51 columns]
Updated Merged Data for 2023-24 season:
           TEAM_NAME  W_PCT   FGM   FGA  FG_PCT  FG3M  FG3A  FG3_PCT   FTM  \
0      Atlanta Hawks  0.439  43.0  92.5   0.465  13.7  37.7    0.364  18.5
1     Boston Celtics  0.780  43.9  90.2   0.487  16.5  42.5    0.388  16.3
2      Brooklyn Nets  0.390  40.7  89.1   0.456  13.3  36.7    0.362  15.8
3  Charlotte Hornets  0.256  40.0  87.0   0.460  12.1  34.0    0.355  14.5
4      Chicago Bulls  0.476  42.0  89.5   0.470  11.5  32.1    0.358  16.7

    FTA  ...  TOV_RANK  STL_RANK  BLK_RANK  BLKA_RANK  PF_RANK  PFD_RANK  \
0  23.2  ...        16        16        26         22       15         7
1  20.2  ...         1        27         1          1        2        30
2  20.9  ...        12        28        12         16       13        21
3  18.4  ...        18        25        25         13        7        29
4  21.1  ...         3         9        18         14       17        14

   PTS_RANK  PLUS_MINUS_RANK  Team  Wins
0         5               21   ATL   2.0
1         2                1   BOS  11.0
2        25               22   BKN   0.0
3        28               30   CHO   NaN
4        22               20   CHI   NaN

[5 rows x 51 columns]

In [259]:
# Initialize an empty dictionary to store the correlation tables for each season
season_correlations = {}

# Loop through each season's data in the season_data_frames
for season, season_data in season_data_frames.items():
    # Merge the season data with the playoff wins for the corresponding year
    season_year = int(season.split('-')[0]) + 1  # Extract the year (e.g., '2016-17' -> 2017)
    playoff_wins_season = team_wins_by_year[team_wins_by_year['Year'] == season_year]
    df_merged = pd.merge(season_data, playoff_wins_season[['Team', 'Wins']], how='left', left_on='Team', right_on='Team')
    
    # Select only numeric columns for correlation computation
    df_numeric = df_merged.select_dtypes(include=[float, int])

    # Calculate the correlation matrix for the numeric columns
    correlation_matrix = df_numeric.corr()

    # Get the correlation of each feature with Playoff_Wins (assuming the column is named 'Wins')
    playoff_wins_correlation = correlation_matrix['Wins'].sort_values(ascending=False)

    # Store the correlation table for the season
    season_correlations[season] = playoff_wins_correlation

# Display the correlations for all seasons
# Loop through the dictionary and drop the "Wins" entry from each correlation table (Series)
for season, correlation_table in season_correlations.items():
    correlation_table = correlation_table.drop('Wins')  # Drop the 'Wins' entry
    season_correlations[season] = correlation_table
    print(f"Correlation Table for {season}:")
    print(correlation_table)
    print("\n")

Correlation Table for 2015-16:
W_PCT              0.836893
PLUS_MINUS         0.824299
FG_PCT             0.717308
FG3_PCT            0.624916
FGM                0.601993
DREB               0.568975
PTS                0.557585
REB                0.458896
AST                0.376497
FG3M               0.349493
BLK                0.347824
FTA_RANK           0.347435
FTM_RANK           0.312541
STL_RANK           0.311053
PFD_RANK           0.305498
TOV_RANK           0.288676
TOV                0.262638
FT_PCT             0.206585
FG3A               0.171940
MIN_RANK           0.059238
OREB               0.045726
FGA                0.020382
FT_PCT_RANK        0.017062
OREB_RANK          0.016135
PF                -0.066070
FGA_RANK          -0.078287
FG3A_RANK         -0.121332
PF_RANK           -0.124695
FTM               -0.178282
FG3M_RANK         -0.203622
BLKA              -0.225720
FTA               -0.298295
AST_RANK          -0.318484
PFD               -0.322317
STL               -0.329201
BLKA_RANK         -0.340858
BLK_RANK          -0.360468
PTS_RANK          -0.418643
REB_RANK          -0.449038
DREB_RANK         -0.487948
FG3_PCT_RANK      -0.556734
FGM_RANK          -0.559694
FG_PCT_RANK       -0.664102
PLUS_MINUS_RANK   -0.772327
L_RANK            -0.792883
W_RANK            -0.792883
W_PCT_RANK        -0.792883
GP_RANK                 NaN
Name: Wins, dtype: float64


Correlation Table for 2016-17:
W_PCT              0.839129
PLUS_MINUS         0.773503
FG3M               0.669983
PTS                0.668914
AST                0.661640
FGM                0.608016
FG3A               0.586860
FG_PCT             0.581740
FG3_PCT            0.460314
DREB               0.382195
OREB_RANK          0.290773
FGA                0.232751
STL                0.223861
FTM_RANK           0.203985
BLK                0.195949
MIN_RANK           0.183257
FTA_RANK           0.155739
BLK_RANK           0.119521
TOV                0.105364
TOV_RANK           0.079711
PFD_RANK           0.066604
FT_PCT             0.064212
REB                0.014628
STL_RANK          -0.072548
FT_PCT_RANK       -0.075628
PFD               -0.093159
REB_RANK          -0.135853
FTM               -0.161126
FTA               -0.183463
FGA_RANK          -0.219183
PF_RANK           -0.226677
PF                -0.227788
OREB              -0.308765
DREB_RANK         -0.341906
BLKA              -0.381384
BLKA_RANK         -0.406242
FG3_PCT_RANK      -0.442433
FG_PCT_RANK       -0.469223
FGM_RANK          -0.499833
AST_RANK          -0.525653
PTS_RANK          -0.571613
FG3A_RANK         -0.639005
FG3M_RANK         -0.668616
PLUS_MINUS_RANK   -0.682669
L_RANK            -0.752178
W_RANK            -0.752178
W_PCT_RANK        -0.752178
GP_RANK                 NaN
Name: Wins, dtype: float64


Correlation Table for 2017-18:
FG3_PCT            0.645146
MIN_RANK           0.615397
OREB_RANK          0.566101
FG3M               0.561717
PTS                0.523472
W_PCT              0.511614
FGA_RANK           0.496020
AST                0.473199
FG3A               0.456092
FG_PCT             0.441705
DREB               0.395124
PLUS_MINUS         0.385183
TOV_RANK           0.348011
BLK                0.290993
TOV                0.289374
FT_PCT             0.276071
FGM                0.212687
FTM                0.151679
PFD_RANK           0.099313
STL_RANK           0.091929
REB_RANK           0.053454
FTA                0.048269
BLK_RANK           0.022058
FTA_RANK           0.017674
FGM_RANK           0.008195
REB               -0.021601
FTM_RANK          -0.055550
STL               -0.154291
PFD               -0.163476
FT_PCT_RANK       -0.211473
PF                -0.213325
PF_RANK           -0.214286
FG_PCT_RANK       -0.226171
AST_RANK          -0.299900
FGA               -0.343760
PLUS_MINUS_RANK   -0.369304
DREB_RANK         -0.410160
FG3A_RANK         -0.413548
PTS_RANK          -0.507818
W_RANK            -0.522306
W_PCT_RANK        -0.522306
L_RANK            -0.522306
OREB              -0.526964
FG3_PCT_RANK      -0.535451
FG3M_RANK         -0.603052
BLKA_RANK         -0.662119
BLKA              -0.778887
GP_RANK                 NaN
Name: Wins, dtype: float64


Correlation Table for 2018-19:
W_PCT              0.847822
PLUS_MINUS         0.708557
PTS                0.661446
FT_PCT             0.633279
FGM                0.629078
FG_PCT             0.623721
BLK                0.489866
AST                0.413494
PFD_RANK           0.395532
DREB               0.353819
FG3M               0.342067
FTA_RANK           0.293883
OREB_RANK          0.271830
FG3_PCT            0.267628
FG3A               0.237149
REB                0.208282
FGA                0.192375
STL                0.071619
TOV_RANK           0.031375
FTM_RANK           0.000451
FTM               -0.040967
TOV               -0.061550
STL_RANK          -0.084626
PF_RANK           -0.089797
PF                -0.092106
REB_RANK          -0.128788
MIN_RANK          -0.147627
FTA               -0.236910
OREB              -0.244313
FG3A_RANK         -0.244569
FGA_RANK          -0.283259
PFD               -0.346683
FG3_PCT_RANK      -0.353658
AST_RANK          -0.355228
FG3M_RANK         -0.360122
DREB_RANK         -0.401578
BLK_RANK          -0.467446
BLKA              -0.501268
BLKA_RANK         -0.507681
FG_PCT_RANK       -0.556545
PTS_RANK          -0.621170
FGM_RANK          -0.627389
FT_PCT_RANK       -0.669203
PLUS_MINUS_RANK   -0.719376
W_RANK            -0.853850
L_RANK            -0.853850
W_PCT_RANK        -0.853850
GP_RANK                 NaN
Name: Wins, dtype: float64


Correlation Table for 2019-20:
FTM                0.564891
PFD                0.562837
FTA                0.495718
W_PCT              0.484539
PLUS_MINUS         0.481418
PF_RANK            0.473631
PF                 0.451265
FG3_PCT            0.327008
TOV                0.322403
PTS                0.316481
FT_PCT             0.300655
GP_RANK            0.282020
BLK_RANK           0.213053
TOV_RANK           0.190086
FG_PCT             0.178464
STL                0.174090
REB                0.173450
DREB               0.138795
OREB               0.114714
AST                0.105823
FG3M               0.090176
BLKA_RANK          0.086786
FGA_RANK           0.083155
BLKA               0.076330
FGM                0.015665
FG3A               0.003993
FGM_RANK          -0.019914
AST_RANK          -0.023866
FG3A_RANK         -0.071172
STL_RANK          -0.082767
FG_PCT_RANK       -0.117708
FGA               -0.152221
FG3M_RANK         -0.163067
REB_RANK          -0.189796
OREB_RANK         -0.191093
BLK               -0.249703
DREB_RANK         -0.276092
FT_PCT_RANK       -0.288022
MIN_RANK          -0.332803
PTS_RANK          -0.347538
FG3_PCT_RANK      -0.351037
FTA_RANK          -0.463005
L_RANK            -0.466329
W_PCT_RANK        -0.486849
PFD_RANK          -0.518846
W_RANK            -0.546377
FTM_RANK          -0.549761
PLUS_MINUS_RANK   -0.600117
Name: Wins, dtype: float64


Correlation Table for 2020-21:
PLUS_MINUS         0.663475
FG_PCT             0.652865
W_PCT              0.642629
PTS                0.545212
FG3_PCT            0.532525
FGM                0.509690
DREB               0.415647
PFD_RANK           0.381115
FT_PCT             0.343085
FG3M               0.272174
REB                0.264910
AST                0.248370
FTM_RANK           0.210815
OREB_RANK          0.207748
BLK_RANK           0.130914
FG3A               0.117082
MIN_RANK           0.083037
FGA                0.072850
FTA_RANK           0.070501
STL_RANK           0.035126
FGA_RANK           0.005650
TOV               -0.016826
STL               -0.052179
OREB              -0.066018
BLK               -0.096095
FTM               -0.097437
TOV_RANK          -0.102445
REB_RANK          -0.137138
FG3A_RANK         -0.152314
FTA               -0.185237
BLKA_RANK         -0.214197
BLKA              -0.223325
FT_PCT_RANK       -0.236187
AST_RANK          -0.240877
DREB_RANK         -0.317797
PFD               -0.348880
FG3M_RANK         -0.349500
PF_RANK           -0.395004
FGM_RANK          -0.468422
PTS_RANK          -0.500316
PF                -0.506247
FG3_PCT_RANK      -0.512486
L_RANK            -0.604522
W_RANK            -0.604522
W_PCT_RANK        -0.604522
FG_PCT_RANK       -0.659485
PLUS_MINUS_RANK   -0.746481
GP_RANK                 NaN
Name: Wins, dtype: float64


Correlation Table for 2021-22:
PLUS_MINUS         0.668781
W_PCT              0.555927
FTA_RANK           0.477114
FTM_RANK           0.454351
DREB               0.421317
FG3M               0.312963
TOV_RANK           0.308821
PFD_RANK           0.288363
FG3A               0.287525
AST                0.287355
TOV                0.279186
FGM_RANK           0.232707
FGA_RANK           0.216097
PTS_RANK           0.176437
REB                0.161000
STL                0.158136
OREB_RANK          0.138683
FG3_PCT            0.113060
FG_PCT_RANK        0.097915
PF_RANK            0.057869
FT_PCT             0.044921
BLK_RANK           0.043905
PF                 0.034974
FG_PCT             0.032746
BLK               -0.044814
FG3_PCT_RANK      -0.072379
FT_PCT_RANK       -0.079096
OREB              -0.140427
REB_RANK          -0.149925
FGM               -0.152706
PTS               -0.156239
MIN_RANK          -0.194530
FGA               -0.213593
STL_RANK          -0.222339
AST_RANK          -0.261974
PFD               -0.310831
FG3A_RANK         -0.327037
FG3M_RANK         -0.363728
FTM               -0.402249
DREB_RANK         -0.421089
FTA               -0.424854
BLKA              -0.471150
BLKA_RANK         -0.577471
PLUS_MINUS_RANK   -0.643937
L_RANK            -0.723210
W_RANK            -0.723210
W_PCT_RANK        -0.723210
GP_RANK                 NaN
Name: Wins, dtype: float64


Correlation Table for 2022-23:
BLK_RANK           0.460414
FGA_RANK           0.277862
FT_PCT             0.237079
FGM_RANK           0.210271
PFD_RANK           0.175752
FG_PCT_RANK        0.175132
W_PCT              0.167256
PTS_RANK           0.158014
FG3_PCT            0.152253
AST                0.143391
DREB_RANK          0.100897
FTA_RANK           0.096351
REB_RANK           0.082796
FG3M               0.072138
PLUS_MINUS         0.067139
STL                0.066271
FTM                0.056785
FG3A               0.045334
MIN_RANK           0.044453
TOV                0.027195
OREB_RANK          0.006161
AST_RANK           0.005993
TOV_RANK           0.001788
FG3M_RANK         -0.000422
FG3A_RANK         -0.002483
PLUS_MINUS_RANK   -0.026313
FTM_RANK          -0.027946
OREB              -0.035016
STL_RANK          -0.065654
PFD               -0.068246
FG_PCT            -0.069900
FTA               -0.083986
REB               -0.117223
FG3_PCT_RANK      -0.132194
DREB              -0.144517
L_RANK            -0.181580
W_RANK            -0.181580
W_PCT_RANK        -0.181580
FT_PCT_RANK       -0.193157
PTS               -0.228722
BLKA_RANK         -0.272039
BLKA              -0.280843
FGA               -0.286102
FGM               -0.315879
PF                -0.334035
PF_RANK           -0.361035
BLK               -0.464575
GP_RANK                 NaN
Name: Wins, dtype: float64


Correlation Table for 2023-24:
FG3M               0.690224
W_PCT              0.673876
FG3A               0.652922
PLUS_MINUS         0.649969
FTM_RANK           0.546880
FTA_RANK           0.527891
FGA                0.490447
PTS                0.436712
FGM                0.416808
REB                0.375247
STL_RANK           0.367875
BLK                0.347637
DREB               0.341900
FG3_PCT            0.337232
PFD_RANK           0.327318
FT_PCT_RANK        0.278561
FG_PCT             0.220748
AST                0.204429
OREB               0.120898
MIN_RANK          -0.083588
OREB_RANK         -0.085754
AST_RANK          -0.193851
FG_PCT_RANK       -0.236856
PF_RANK           -0.238395
DREB_RANK         -0.251742
PFD               -0.256483
BLK_RANK          -0.271798
REB_RANK          -0.273527
BLKA_RANK         -0.279939
PF                -0.283373
FT_PCT            -0.290755
FG3_PCT_RANK      -0.330060
TOV_RANK          -0.385689
STL               -0.391189
TOV               -0.410723
PTS_RANK          -0.425114
PLUS_MINUS_RANK   -0.425680
BLKA              -0.428758
FGM_RANK          -0.436809
FTA               -0.521564
FG3A_RANK         -0.525661
FGA_RANK          -0.576671
W_RANK            -0.581142
L_RANK            -0.581142
W_PCT_RANK        -0.581142
FG3M_RANK         -0.589643
FTM               -0.597989
GP_RANK                 NaN
Name: Wins, dtype: float64


Correlation Table for 2024-25:
W_PCT             NaN
FGM               NaN
FGA               NaN
FG_PCT            NaN
FG3M              NaN
FG3A              NaN
FG3_PCT           NaN
FTM               NaN
FTA               NaN
FT_PCT            NaN
OREB              NaN
DREB              NaN
REB               NaN
AST               NaN
TOV               NaN
STL               NaN
BLK               NaN
BLKA              NaN
PF                NaN
PFD               NaN
PTS               NaN
PLUS_MINUS        NaN
GP_RANK           NaN
W_RANK            NaN
L_RANK            NaN
W_PCT_RANK        NaN
MIN_RANK          NaN
FGM_RANK          NaN
FGA_RANK          NaN
FG_PCT_RANK       NaN
FG3M_RANK         NaN
FG3A_RANK         NaN
FG3_PCT_RANK      NaN
FTM_RANK          NaN
FTA_RANK          NaN
FT_PCT_RANK       NaN
OREB_RANK         NaN
DREB_RANK         NaN
REB_RANK          NaN
AST_RANK          NaN
TOV_RANK          NaN
STL_RANK          NaN
BLK_RANK          NaN
BLKA_RANK         NaN
PF_RANK           NaN
PFD_RANK          NaN
PTS_RANK          NaN
PLUS_MINUS_RANK   NaN
Name: Wins, dtype: float64

In [260]:
for season, correlation_table in season_correlations.items():
  print(f"most important features for {season}:")
  print(correlation_table.head(7))
  print("\n")

most important features for 2015-16:
W_PCT         0.836893
PLUS_MINUS    0.824299
FG_PCT        0.717308
FG3_PCT       0.624916
FGM           0.601993
DREB          0.568975
PTS           0.557585
Name: Wins, dtype: float64


most important features for 2016-17:
W_PCT         0.839129
PLUS_MINUS    0.773503
FG3M          0.669983
PTS           0.668914
AST           0.661640
FGM           0.608016
FG3A          0.586860
Name: Wins, dtype: float64


most important features for 2017-18:
FG3_PCT      0.645146
MIN_RANK     0.615397
OREB_RANK    0.566101
FG3M         0.561717
PTS          0.523472
W_PCT        0.511614
FGA_RANK     0.496020
Name: Wins, dtype: float64


most important features for 2018-19:
W_PCT         0.847822
PLUS_MINUS    0.708557
PTS           0.661446
FT_PCT        0.633279
FGM           0.629078
FG_PCT        0.623721
BLK           0.489866
Name: Wins, dtype: float64


most important features for 2019-20:
FTM           0.564891
PFD           0.562837
FTA           0.495718
W_PCT         0.484539
PLUS_MINUS    0.481418
PF_RANK       0.473631
PF            0.451265
Name: Wins, dtype: float64


most important features for 2020-21:
PLUS_MINUS    0.663475
FG_PCT        0.652865
W_PCT         0.642629
PTS           0.545212
FG3_PCT       0.532525
FGM           0.509690
DREB          0.415647
Name: Wins, dtype: float64


most important features for 2021-22:
PLUS_MINUS    0.668781
W_PCT         0.555927
FTA_RANK      0.477114
FTM_RANK      0.454351
DREB          0.421317
FG3M          0.312963
TOV_RANK      0.308821
Name: Wins, dtype: float64


most important features for 2022-23:
BLK_RANK       0.460414
FGA_RANK       0.277862
FT_PCT         0.237079
FGM_RANK       0.210271
PFD_RANK       0.175752
FG_PCT_RANK    0.175132
W_PCT          0.167256
Name: Wins, dtype: float64


most important features for 2023-24:
FG3M          0.690224
W_PCT         0.673876
FG3A          0.652922
PLUS_MINUS    0.649969
FTM_RANK      0.546880
FTA_RANK      0.527891
FGA           0.490447
Name: Wins, dtype: float64


most important features for 2024-25:
W_PCT     NaN
FGM       NaN
FGA       NaN
FG_PCT    NaN
FG3M      NaN
FG3A      NaN
FG3_PCT   NaN
Name: Wins, dtype: float64

In [261]:
season_data_frames['2024-25'].head()

,TEAM_NAME,W_PCT,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,...,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,Team
0,Atlanta Hawks,0.500,42.8,92.1,0.465,13.1,36.8,0.354,18.6,23.7,...,2,23,2,11,19,13,6,6,21,ATL
1,Boston Celtics,0.711,41.6,90.6,0.460,18.0,49.5,0.364,16.7,21.0,...,17,2,22,6,4,1,15,5,3,BOS
2,Brooklyn Nets,0.342,38.0,84.9,0.447,14.3,39.3,0.364,16.9,20.9,...,18,20,28,30,26,29,10,28,25,BKN
3,Charlotte Hornets,0.229,38.2,89.9,0.425,14.3,41.9,0.341,15.4,19.9,...,27,24,18,18,20,26,11,29,24,CHO
4,Chicago Bulls,0.474,43.4,92.3,0.471,16.4,43.8,0.375,14.8,18.7,...,4,19,21,21,16,8,30,4,21,CHI

In [262]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error


def preprocess_data(season_data, top_features, is_future=False):
    season_data = season_data.fillna(0)  # Replace NaN with 0 in the wins col
    
    if not is_future:
        y = season_data['Wins']  # Use 'Wins' column for past seasons
        season_data = season_data.drop(columns=['Wins'])  # Drop 'Wins' for features
    else:
        y = None  # No 'Wins' for future seasons (like 2024-25)
    
    X = season_data[top_features]  # use only most correlated  features
    return X, y

def train_season_model(season_data, top_features, is_future=False):
    X, y = preprocess_data(season_data, top_features, is_future)
    scaler = StandardScaler() # standardizing features 
    
    if y is not None:
        # Split data into training and test
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
        
        # Fit the scaler on the training data
        X_train_scaled = scaler.fit_transform(X_train)
        X_test_scaled = scaler.transform(X_test)  # Use the same scaler for the test set
        
        # Create and train the model
        model = LinearRegression()
        model.fit(X_train_scaled, y_train)
        
        # Make predictions and calculate MSE
        y_pred = model.predict(X_test_scaled)
        mse = mean_squared_error(y_test, y_pred)
        print(f"Season Model Performance (MSE): {mse}")
    else:
        model = LinearRegression() #might have to change later to diff regression
    
    return model, scaler


available_seasons = ['2016-17', '2017-18', '2018-19', '2019-20', '2020-21', '2021-22', '2022-23', '2023-24']
top_features = ['W_PCT', 'PLUS_MINUS', 'FG_PCT', 'FG3M', 'PTS', 'AST']

# Train models for each available season (excluding 2015-16 season)
models = {}  # Store the models and scalers for each season
for season in available_seasons:
    if season != '2015-16': 
        print(f"Training model for {season} season")
        season_data = merged_season_data[season]  # Access  data for the current season
        model, scaler = train_season_model(season_data, top_features, is_future=False) 
        models[season] = {'model': model, 'scaler': scaler}


#now predicitng 2025

X_2024_25 = season_data_frames['2024-25'][top_features]

# Use the most recent model (trained on 2023-24 season)
latest_model = models['2023-24']['model']
latest_scaler = models['2023-24']['scaler']


predicted_wins_2024_25 = latest_model.predict(X_2024_25_scaled)
predicted_wins_2024_25 = [max(0, win) for win in predicted_wins_2024_25] # ensures no neg playoff wins (min is 0)

# Combine predictions with team name
predictions = pd.DataFrame({
    'Team': season_data_frames['2024-25']['TEAM_NAME'],  
    'Predicted Playoff Wins': predicted_wins_2024_25
})

# Display the predictions
print(predictions)

Training model for 2016-17 season
Season Model Performance (MSE): 69.67831754587708
Training model for 2017-18 season
Season Model Performance (MSE): 25.616323035741488
Training model for 2018-19 season
Season Model Performance (MSE): 26.533485003377606
Training model for 2019-20 season
Season Model Performance (MSE): 62.62409665274072
Training model for 2020-21 season
Season Model Performance (MSE): 27.877913873549165
Training model for 2021-22 season
Season Model Performance (MSE): 33.79827785775375
Training model for 2022-23 season
Season Model Performance (MSE): 18.281717091217654
Training model for 2023-24 season
Season Model Performance (MSE): 20.159317187356574
                      Team  Predicted Playoff Wins
0            Atlanta Hawks                5.763707
1           Boston Celtics                6.715792
2            Brooklyn Nets                1.868912
3        Charlotte Hornets                0.000000
4            Chicago Bulls                3.363729
5      Cleveland Cavaliers                9.244820
6         Dallas Mavericks                1.604986
7           Denver Nuggets                4.876153
8          Detroit Pistons                3.409550
9    Golden State Warriors                7.817306
10         Houston Rockets                6.667940
11          Indiana Pacers                2.861082
12             LA Clippers                4.060809
13      Los Angeles Lakers                4.827617
14       Memphis Grizzlies                5.441014
15              Miami Heat                5.989751
16         Milwaukee Bucks                1.640205
17  Minnesota Timberwolves                4.539785
18    New Orleans Pelicans                0.000000
19         New York Knicks                3.797544
20   Oklahoma City Thunder               10.695100
21           Orlando Magic                7.282420
22      Philadelphia 76ers                0.734432
23            Phoenix Suns                3.374717
24  Portland Trail Blazers                0.000000
25        Sacramento Kings                1.389544
26       San Antonio Spurs                7.047646
27         Toronto Raptors                0.000000
28               Utah Jazz                0.000000
29      Washington Wizards                0.000000